.user_List {
  flex: 4;
  margin-top: 20px;
  height: 1000px;
}

.userListUser {
  display: flex;
  align-items: center;
}

.fornisseurAddButton {
  width: 90px;
  padding-bottom: 11px;
  padding-right: 5px;
  border: none;
  background-color: #3bb077;
  border-radius: 20px;
  cursor: pointer;
  color:#ffffff;
  font-size: 16px;
}

.iconadd{
  padding-top: 9px;
}

.button{
  margin-bottom: 10px;
  margin-left: 67rem;
}
.fornisseurAddButton:hover{
  background-color: #D5EEBB;
  color: rgb(0, 0, 0);
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
  color: #3bb077;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
}
.userListView{
  color: #1B2223;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
}

.userrListDelete{
    color: red;
    cursor: pointer;
}