.productList {
    flex: 4;
    margin-top: 20px;
  }
  
  .productListUser {
    display: flex;
    align-items: center;
  }
  .productAddButton {
    width: 90px;
    padding-bottom: 11px;
    padding-right: 5px;
    border: none;
    background-color: #3bb077;
    border-radius: 20px;
    cursor: pointer;
    color:#ffffff;
    font-size: 16px;
  }

  .iconadd{
    padding-top: 9px;
    }

  .button{
    margin-bottom: 10px;
    margin-left: 67rem;
    padding: 4px;
  }
 
  .productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .productListEdit{
      color: #3bb077;
      cursor: pointer;
      margin-right: 20px;
      margin-top: 20px;
  }
  
  .productListDelete{
      color: red;
      cursor: pointer;
  }
  .productListView{
    color: #1B2223;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
}